/*Reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

/*estilos generales*/
.App{
    background-color: #000000;
}

/*estilos del carrito de compras*/
.shoppingCart{
    background-color: #b8cad0;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-endn;
}
.carrito{
    font-size: 1.7rem;
    margin: 0.3rem;
}
.product{
    font-size: 1rem;
    margin: 0.5rem 1.8rem 0 0.3rem;
}

.cartContain{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 2rem 0;
}

/*estilos del footer*/

footer{
    background-color: #000000;
}
.footerText{
    padding: 2rem;
    font-size: 1.2rem;
    text-align: center;
    color: #3d494d;
}